.Caja {
    height: 100%;
    width: 100%;
    align-content: center;
    justify-items: center;
}



.Caja_Header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

.Caja_Header_Tabla {
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.Caja_Header_Datos {
    height: 10rem;
    width: 10rem;
    margin: 0;
    padding: 0;
    padding-left: 3rem;
    padding-top: 2rem;

}

.Caja_Header_Tabla-NT {
    color: #40424d;
    font-size: 37px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 15rem;
    margin: 0;
}

.Caja_Header_Titulos {
    color: #13c7c7;
    size: 10;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0;
    line-height: 1.1;
    padding-left: 22px;
}

.Caja_Header_Tabla-Info {
    color: darkgray;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.Caja_Informacion-Foto {

    border-radius: 50%;

    padding: 0;
    width: 13rem;
    height: 13rem;
    margin: 0 7rem;
    border-color: #13c7c7;
    border-style: groove;

}

.Caja_Informacion_Datos {
    display: flex;
    flex-direction: column;

    justify-content: left;
    justify-items: left;
    margin: 0 0 0 2;
}

.Caja_Informacion_Datos-Titulo {
    padding-top: 0;
    margin: 1rem 0rem;
    font-size: 25px;
    color: brown;
}

.Caja_Informacion_Datos-Subtitulo {
    padding: 1px 2px;
    margin: 0;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 800;
    color: black;
}

.Caja_Informacion_Datos-Info {
    padding: 1px 2px;
    margin: 6px 0;
    font-size: 15px;
    font-family: 'Arial';
    font-weight: 600;
    color: dimgrey;
}

.Barra {
    width: 100%;
    height: 3px;
    background-color: #13c7c7;
    ;
    border: 5px;
    border-color: #13c7c7;
    border-style: hidden;

    margin: 0;
    padding: 0;
}